{% extends 'base.html.twig' %}

{% block title %}Welcome to the Wordy App{% endblock %}

{% block body %}
    <h2>Registered expressions</h2>
    <ul>
    {% for expression in expressions %}
        <li>{{ expression }}</li>
    {% endfor %}
    </ul>
{% endblock %}

